/* svg {
    transform-origin: center center;
}

svg * { 
    transform-box: fill-box;
} */

/* .rotating {
    transform-origin: center center;
    transform-box: fill-box;
} */

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

html {
    font-family: 'Inter', sans-serif;
}

svg text {
    font-size: 11px;
}

.current-audio text {
    fill: rgb(83 195 144);
}

.turntables--container {
    position: relative;
}
.analyzer {
    margin-top: 20px;
    position: absolute;
    top: 96px;
    left: 660px;
}

.left-table--start, .right-table--start, #VolumeLeftHandle, #VolumeRightHandle, .left-table--add, .right-table--add {
    cursor: pointer;
}

.left-table--start rect, .right-table--start rect, .left-table--start path, .right-table--start path, .left-table--add rect, .right-table--add rect, .left-table--add path, .right-table--add path {
    transition: all 0.2s;
}

.left-table--start:hover rect, .right-table--start:hover rect {
    fill: #4BF1A5
}

.left-table--start:hover path, .right-table--start:hover path {
    fill: black
}

.left-table--disk, .right-table--disk {
    transform-origin: center center;
    transform-box: fill-box;
    cursor: pointer;
}

.left-table--add:hover rect, .right-table--add:hover rect {
    fill: rgb(43, 43, 43)
}

/* .left-table--add:hover path, .right-table--add:hover path {
    fill: white
} */

.lp-hp--left, .lp-hp--right {
    transform-origin: center center;
    transform-box: fill-box;
    cursor: pointer;
}


@keyframes rotating {
    from {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
.rotating {
    -webkit-animation: rotating 2s linear infinite;
    -moz-animation: rotating 2s linear infinite;
    -ms-animation: rotating 2s linear infinite;
    -o-animation: rotating 2s linear infinite;
    animation: rotating 2s linear infinite;
}
  
.disabled {
    pointer-events: none;
}

.disabled rect {
    stroke: #EE001C;
}
